.button {
    display: flex;
    align-items: center;
    gap: 5px;
    background: var(--dark-blue);
    border: 0px;
    padding: 16px;
    border-radius: 8px;
    color: var(--gray-100);
    cursor: pointer;
  }
  
  .button:hover {
    background: var(--blue);
  }
  